/REACT.code-workspace
.vscode/settings.json
Sprint-1/styles.css
.gitignore
prova bootstrap/index.html
prova bootstrap/start template.html
prova bootstrap/css/bootstrap-grid.css
prova bootstrap/css/bootstrap-grid.css.map
prova bootstrap/css/bootstrap-grid.min.css
prova bootstrap/css/bootstrap-grid.min.css.map
prova bootstrap/css/bootstrap-reboot.css
prova bootstrap/css/bootstrap-reboot.css.map
prova bootstrap/css/bootstrap-reboot.min.css
prova bootstrap/css/bootstrap-reboot.min.css.map
prova bootstrap/css/bootstrap.css
prova bootstrap/css/bootstrap.css.map
prova bootstrap/css/bootstrap.min.css
prova bootstrap/css/bootstrap.min.css.map
prova bootstrap/js/bootstrap.bundle.js
prova bootstrap/js/bootstrap.bundle.js.map
prova bootstrap/js/bootstrap.bundle.min.js
prova bootstrap/js/bootstrap.bundle.min.js.map
prova bootstrap/js/bootstrap.js
prova bootstrap/js/bootstrap.js.map
prova bootstrap/js/bootstrap.min.js
prova bootstrap/js/bootstrap.min.js.map
prova bootstrap/js/jquery-3.5.1.slim.min.js
prova bootstrap/js/popper.min.js
prova-bootstrap/index.html
prova-bootstrap/start template.html
prova-bootstrap/css/bootstrap-grid.css
prova-bootstrap/css/bootstrap-grid.css.map
prova-bootstrap/css/bootstrap-grid.min.css
prova-bootstrap/css/bootstrap-grid.min.css.map
prova-bootstrap/css/bootstrap-reboot.css
prova-bootstrap/css/bootstrap-reboot.css.map
prova-bootstrap/css/bootstrap-reboot.min.css
prova-bootstrap/css/bootstrap-reboot.min.css.map
prova-bootstrap/css/bootstrap.css
prova-bootstrap/css/bootstrap.css.map
prova-bootstrap/css/bootstrap.min.css
prova-bootstrap/css/bootstrap.min.css.map
prova-bootstrap/js/bootstrap.bundle.js
prova-bootstrap/js/bootstrap.bundle.js.map
prova-bootstrap/js/bootstrap.bundle.min.js
prova-bootstrap/js/bootstrap.bundle.min.js.map
prova-bootstrap/js/bootstrap.js
prova-bootstrap/js/bootstrap.js.map
prova-bootstrap/js/bootstrap.min.js
prova-bootstrap/js/bootstrap.min.js.map
prova-bootstrap/js/jquery-3.5.1.slim.min.js
prova-bootstrap/js/popper.min.js
prova-bootstrap/css/style.css
prova-bootstrap/fonts/moon-flower.ttf
prova-bootstrap/fonts/readme.txt
prova-bootstrap/img/JH_logo-drive-gordo-centro.png
prova-bootstrap/img/JH_logo-drive-gordo-horiz.png
prova-bootstrap/img/JH-Assajant-rient.JPG
prova-bootstrap/img/JH-escena-playing.JPG
prova-bootstrap/img/JH-escena.JPG
prova-bootstrap/img/JH-Mataro-escena.JPG
prova-bootstrap/scss/styles.css
prova-bootstrap/scss/styles.css.map
prova-bootstrap/scss/styles.scss
Sprint-3/exercicis/index.html
Sprint-3/exercicis/scripts.js
prova-bootstrap/prov.html
