    * {
        margin: 10px;
        padding: 10px;
        box-sizing: border-box;
    }
    
    .madre {
        display: flex;
        flex-flow: column nowrap;
    }
    
    .header {
        background: black;
        display: flex;
        flex-flow: column nowrap;
    }
    
    .menu {
        background: cornflowerblue;
        display: flex;
        flex-flow: row nowrap;
    }
    
    .logo {
        background: #8f4f4f;
        flex: 1 1 auto;
        height: 30px;
    }
    
    .nav {
        background: brown;
        flex: 5 1 auto;
        height: 30px;
    }
    
    .social {
        background: #8f4f4f;
        flex: 1 1 auto;
        height: 30px;
    }
    
    .texto-principal {
        background: cornflowerblue;
    }
    
    h1 {
        background: brown;
    }
    
    .section {
        background: #000;
        display: flex;
    }
    
    .articulos {
        background: #ffbe0f;
        display: flex;
        flex: 2 1 auto;
        flex-flow: row wrap;
    }
    
    .article {
        background: #fa1e0e;
        flex: 1 1 40%;
    }
    
    .navegacion {
        background: #bd2000;
        flex: 1 1 100%;
    }
    
    .aside {
        display: flex;
        background: #f73f52;
        flex-flow: column;
        flex: 1 1 auto;
    }
    
    .publicida {
        background: #ffea85;
    }
    
    .footer {
        background: #000;
        display: flex;
        justify-content: center;
    }
    
    .pie {
        background: #8f4f4f;
        width: 100%;
    }
    /* tauleta */
    
    @media (min-width: 481px) and (max-width: 1024px) {
        .section {
            flex-direction: column;
            background: lawngreen;
        }
    }
    /* mobile portrait */
    
    @media (min-width: 320px) and (max-width: 480px) {
        .header {
            justify-content: center;
        }
        .menu {
            background: cornflowerblue;
            display: flex;
            flex-flow: column wrap;
        }
        .logo {
            background: #8f4f4f;
            flex: 1 1 auto;
        }
        .nav {
            background: brown;
            flex: 1 1 auto;
        }
        .social {
            background: #8f4f4f;
            flex: 1 1 auto;
        }
        .section {
            display: flex;
            flex-direction: column;
        }
        .articulos {
            display: flex;
            flex-flow: column nowrap;
        }
    }